
p{
           color: black;
           font-family:inherit;
           font-size:18px;

		}
		#tituloprincipal{
           color:#ffbf00;
           font-family: 'Jolly Lodger', cursive;
           font-size: 100px;
           text-align: center;
           width:450px;
           height:120px;
           margin: 30px 30px 30px 400px;
           padding:10px 10px 10px 10px;
           text-shadow:black 5px 5px 5px;
           -webkit-transition:-webkit-transform 3s ease 0.5s;
          }
          	h2{
          		clear:both;
          		text-align:center;
          		padding: 50px 100px 0px 100px;
          		}
		button{
			width: 60px;
			height: 20px;
		}
		
		body
		{
			background:#ffecb3;
		}
		#peliculas{
			border:1px solid black;
			margin: 10px 10px 10px 20px;
			padding:10px 10px 10px 10px;
			height:200px;
			width:600px;
			float:left;
			background-color:#ffdf80;
			box-shadow:black 10px 2px 5px;
		}
		#libros{
			border:1px solid black;
			margin: 10px 10px 10px 20px;
			padding:10px 10px 10px 10px;
			height:200px;
			width:600px;
			float:right;
			background-color:#ffdf80;
			box-shadow:black 10px 2px 5px;
		}
		.descripcionPeliculas{
			clear:both;
			border:1px solid black;
			margin: 30px 10px 10px 150px;
			padding:10px 10px 10px 20px;
			width:1000px;
			height:450px;
			background-color:#ffdf80;
			box-shadow:black 10px 10px 10px;


		}
		footer{
			background-color:#ffd966;
			text-align:center;
			width:1330px;
			height:200px;
		}